/*Стилизація проєкта -*/
/*index.html - всі блоки з user - по 2 в рядок. кнопки/аосилвння розташувати під інформацією про user.*/
body{
    background-image: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../back.jpg');
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.userContainer{
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-gap: 30px;
    row-gap: 12px;
}
.userBlock{
    height: 15%;
    width: 35%;
    border: 1px solid black;
    padding-left: 20px;
    font-size: 20px;
    background: #7A808E;
    display: block;
}
.userInfo{
    margin: 3%;
    width: 100%;
}
.userDetailsLink{
    margin: 3%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background: #C0BFC4;
    text-decoration: none;
    color: black;
}
.userDetailsLink:hover{
    background: #EFEFEF;
}

/*user-details.html - блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки, по центру.*/
/*блоки з короткою іфною про post - в ряд по 5 .*/

/*post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.*/
/*Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки (дати фон. марджини і тд)*/